[app]
# DATABASE_URL_ASYNC=postgresql+asyncpg://egor:egor@127.0.0.1:5432/postgres

# DATABASE_URL_ASYNC=postgresql+asyncpg://egor:egor@db:5432/mydb
DATABASE_URL_ASYNC=postgresql+asyncpg://egor:egor@localhost:5432/mydb
# DATABASE_URL_ASYNC=mongodb://admin:password@mongodb:27017
SESSION_TIMEOUT=30
SECRET_KEY=5rF442aa4ffC782b3chTTs38k00lLL93
ALGORITHM = HS256
LOG_LEVEL=DEBUG
EXTERNAL_SERVICE_MODE=real
EXTERNAL_SERVICE_REAL_BASE_URL=https://jsonplaceholder.typicode.com
EXTERNAL_SERVICE_MOCK_BASE_URL=http://localhost:8090
EXTERNAL_SERVICE_TIMEOUT_SEC=5
